body {
	margin: 0 auto;
	width: 40em;
}

body>header {
	background-color: white;
	color: #8D1919
;
}
body>header>h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1;
	margin: 0.3em;
}
body>header>img {
	display: block;
	height: 4.1em;
	float: right;
}

body>nav,
body>footer {
	background-color: white;
	display: table;
	width: 100%;
	border-radius: 1em;
}
body>nav>a:link,
body>nav>a:visited,
body>footer>a:link,
body>footer>a:visited {
	color: black;
	display: table-cell;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1;
	padding: 0.3em 0;
	text-align: center;
	width: 25%;
}
body>nav>a:active,
body>nav>a:hover,
body>nav>a:focus,
body>footer>a:active,
body>footer>a:hover,
body>footer>a:focus {
	background-color: #0033CC;
	text-decoration: none;
	border-radius: 1em;
}

@media (max-width: 40em) {

body {
	width: 100%;
}

}

@media (max-width: 30em) {

body>header>h1>span {
	display: block;
}
body>header>img {
	height: 6.5em;
}

body>nav,
body>footer {
	display: block;
	width: 100%;
}
body>nav>a:link,
body>nav>a:visited,
body>footer>a:link,
body>footer>a:visited {
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0.7em 0;
	width: 50%;
}

}
